<div class="container mt-3">
  <h1>Edit <%= @task.title %></h1>

  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control" %>
    <%= f.label :details %>
    <%= f.text_area :details, class:"form-control" %>
    <% if @task.id  %>
    <%= f.label :completed, class:"form-check-label" %>
    <%= f.check_box :completed, class:"form-check-input" %>
    <% end %>
    <br>
    <%= f.submit %>
  <% end %>
<br>
   <p><i class="fa-solid fa-backward"></i> <%= link_to "Go back to details", task_path(@task)%></p>
</div>
